@font-face {
    font-family: 'WiiU';
    src: url(resources/fonts/wiiuFont.ttf);
}


html {
    height: 100vh;
    cursor: url('resources/cursor/normal-resize-adj.png'), auto;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* Permite varias filas */
    justify-content: center;
    align-items: center;
    width: 800px;
    /* Ajusta el ancho para controlar las filas */
    gap: 40px;
    /* Espacio entre cuadrados */
}

.dock {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    /* Permite varias filas */
    justify-content: center;
    align-items: center;
    width: 60%;
    /* Ajusta el ancho para controlar las filas */
    gap: 40px;
    /* Espacio entre cuadrados */
    bottom: 20px;
}

.dock img {
    width: 100px;
    transition: 0.1s ease-in-out;

    cursor: url(resources/cursor/pointer-resize-adj.png), auto;
}

.dock img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);

    cursor: url("resources/cursor/pointer-resize-adj.png"), auto;
}


#disc {
    width: 30%;
    position: absolute;
    top: -45%;
    transition: 0.4s ease-in-out;
}

#disc:hover {
    top: -25%;
    animation-name: disc;
    /* Nombre de la animación definida en @keyframes */
    animation-duration: 6s;
    /* Duración de cada giro (3 segundos) */
    animation-iteration-count: infinite;
    /* Repite la animación infinitamente */
    animation-timing-function: linear;
}

@keyframes disc {
    from {
        transform: rotate(0deg);
        /* Empieza sin rotación */
    }

    to {
        transform: rotate(360deg);
        /* Termina con una rotación completa */
    }
}

.square {
    width: 150px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 50px;

    background-color: rgba(206, 206, 206, 0.411);
    /* Fondo blanco semitransparente */
    backdrop-filter: blur(10px);


    transition: 0.2s ease-in-out;

    cursor: url("resources/cursor/pointer-resize-adj.png"), auto;
}

.square:hover {
    transform: scale(1.05);
    background-color: rgba(0, 152, 253, 0.288);
    backdrop-filter: blur(6px);
    cursor: url("resources/cursor/pointer-resize-adj.png");
}

.square:hover::after {
    transform: scale(0.90);
    cursor: url("resources/cursor/pointer-resize-adj.png");

}

.square img {
    width: 120px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;

    cursor: url("resources/cursor/pointer-resize-adj.png"), auto;

}

.square:hover img {
    filter: brightness(1.2);

    cursor: url("resources/cursor/pointer-resize-adj.png"), auto;
}

.square img:hover {}


.rectangle {
    width: 335px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 50px;

    background-color: rgba(206, 206, 206, 0.411);
    /* Fondo blanco semitransparente */
    backdrop-filter: blur(10px);

    cursor: url("resources/cursor/pointer-resize-adj.png"), auto;

    transition: 0.2s ease-in-out;
}

.rectangle:hover {
    transform: scale(1.05);
    background-color: rgba(0, 152, 253, 0.288);
    backdrop-filter: blur(6px);
}

.rectangle:hover #skills-button {
    background-image: url(resources/main-menu/info/skillshover.png);
}

.rectangle:hover #info-button {
    background-image: url(resources/main-menu/info/aboutmehover.png);
}

.rectangle:hover::after {
    transform: scale(0.90);

}

.rectangle img {
    width: 300px;
    height: 115px;
    border-radius: 35px;
    transition: 0.3s ease-in-out;

    cursor: url("resources/cursor/pointer-resize-adj.png"), auto;

}

.rectangle:hover img {
    filter: brightness(1.05);
}

.rectangle img:hover {
    cursor: pointer;

}

#info-button {
    width: 300px;
    height: 115px;
    border-radius: 35px;
    transition: 0.3s ease-in-out;
    background-image: url(resources/main-menu/info/aboutme.png);

    cursor: url("resources/cursor/pointer-resize-adj.png"), auto;
}

/*
#info-button:hover{
    background-image: url(resources/main-menu/info/aboutmehover.png);
}
*/
#skills-button {
    width: 300px;
    height: 115px;
    border-radius: 35px;
    transition: 0.3s ease-in-out;
    background-image: url(resources/main-menu/info/skills.png);

    cursor: url("resources/cursor/pointer-resize-adj.png"), auto;
}

/*
#skills-button:hover{
    background-image: url(resources/main-menu/info/skillshover.png);
}
*/
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#player {
    width: 270px;
    height: 270px;
    position: absolute;
    bottom: 0px;
    right: 10px;
    cursor: url("resources/cursor/pointer-resize-adj.png"), auto;

    background-image: url(resources/playeranimated.gif);
}

#player:hover {
    background-image: url(resources/playerhover.png);
}



.tooltiptext {
    font-family: WiiU;

    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    bottom: 240px;
    transition: 0.2s ease-in-out;
    transform: scale(0.1);

}

.tooltiptext::after {
    transform: scale(1);
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

#player:hover .tooltiptext {
    transform: scale(1);
    visibility: visible;
}



.aboutme-show {
    width: 60%;
    height: fit-content;
    visibility: visible;

    position: absolute;

    padding: 2rem;

    background-color: rgba(255, 255, 255, 0.808);
    /* Fondo blanco semitransparente */
    backdrop-filter: blur(10px);

    z-index: 1;

    border-radius: 30px;
    border-style: solid;
    border-width: 10px;
    border-color: rgba(230, 230, 230, 0.808);
    transition: 0.2s ease-in-out;
}

.aboutme-hide {
    position: absolute;
    visibility: hidden;



    width: 30%;
    height: 30%;
    opacity: 0;

    position: absolute;

    background-color: rgba(255, 255, 255, 0.808);
    /* Fondo blanco semitransparente */
    backdrop-filter: blur(10px);

    z-index: 1;

    border-radius: 30px;
    border-style: solid;
    border-width: 10px;
    border-color: rgba(230, 230, 230, 0.808);
    transition: 0.2s ease-in-out;
}


.skills-show {
    width: 60%;
    height: fit-content;
    visibility: visible;


    position: absolute;

    padding: 2rem;

    background-color: rgba(255, 255, 255, 0.808);
    /* Fondo blanco semitransparente */
    backdrop-filter: blur(10px);

    z-index: 1;

    border-radius: 30px;
    border-style: solid;
    border-width: 10px;
    border-color: rgba(230, 230, 230, 0.808);
    transition: 0.2s ease-in-out;
}

.skills-hide {
    position: absolute;
    visibility: hidden;

    width: 30%;
    height: 30%;
    opacity: 0;

    position: absolute;

    background-color: rgba(255, 255, 255, 0.808);
    /* Fondo blanco semitransparente */
    backdrop-filter: blur(10px);

    z-index: 1;

    border-radius: 30px;
    border-style: solid;
    border-width: 10px;
    border-color: rgba(230, 230, 230, 0.808);
    transition: 0.2s ease-in-out;
}

.skills-hide h2 {
    font-weight: 0px;
    font-family: WiiU;
    color: #abd2ff;
}


.aboutme-show h2 {
    margin-top: 0px;
    font-family: WiiU;
    color: #00ff1b;
    font-weight: normal;
    transition: 0.4s ease-in-out;
    text-shadow: 0px 2px 6px rgba(192, 192, 192, 0.619);
    cursor: url("resources/cursor/pointer-resize-adj.png"), auto;

}

.aboutme-show h2:hover {
    transform: translateX(5px);

}

.aboutme-show p {
    font-family: WiiU;
    color: #535353;
    font-weight: normal;
    transition: 0.4s ease-in-out;
    cursor: url("resources/cursor/pointer-resize-adj.png"), auto;
}

.aboutme-hide p {
    font-size: 0px;
    font-family: WiiU;
    color: #535353;
    font-weight: normal;
    transition: 0.4s ease-in-out;
}

.skills-show p {
    font-family: WiiU;
    color: #535353;
    font-weight: normal;
    transition: 0.4s ease-in-out;
    cursor: url("resources/cursor/pointer-resize-adj.png"), auto;
}

.aboutme-hide h2 {
    font-family: WiiU;
    color: #abffb4;
    font-weight: normal;

}




.skills-show h2 {
    color: #00afff;
    margin-top: 0px;
    font-family: WiiU;
    font-weight: normal;
    transition: 0.4s ease-in-out;
    text-shadow: 0px 2px 6px rgba(192, 192, 192, 0.619);
    cursor: url("resources/cursor/pointer-resize-adj.png"), auto;

}

.skills-show h2:hover {
    transform: translateX(5px);

}



.content-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 2rem;
}

.aboutme-show img {
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.479);
}

.aboutme-show img:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.363);

}

.aboutme-hide img {
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.479);
    width: 100px;
}

#halotext {
    font-weight: normal;
    transition: 0.3s ease-in-out;
}

#halotext:hover {
    color: green;
}

#jimtext {
    font-weight: normal;
    transition: 0.3s ease-in-out;
}

#jimtext:hover {
    color: rgb(226, 25, 166);
}

#sunsettext {
    font-weight: normal;
    transition: 0.3s ease-in-out;
}

#sunsettext:hover {
    color: rgb(255, 111, 0);
}

#gittext {
    font-weight: normal;
    transition: 0.3s ease-in-out;
}

#gittext:hover {
    color: rgb(141, 0, 188);
}


#rasptext {
    font-weight: normal;
    transition: 0.3s ease-in-out;
}

#rasptext:hover {
    color: rgb(188, 0, 66);
}



.bubbleholder {
    display: flex;

    margin: auto;
    width: 60%;
    height: fit-content;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.skills-hide .skills-button {
    width: 0px;
    font-weight: 0px;
    font-family: WiiU;
    margin: 0px;
    height: 0px;
}


.skills-button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 0px;
    margin-bottom: 0px;

    margin: 10px;
    width: 60px;
    height: 60px;
    padding: 1rem;
    border-radius: 100%;
    font-size: 90%;

    color: rgb(62, 62, 62);

    background-color: rgba(255, 255, 255, 0.203);
    backdrop-filter: blur(15px);
    box-shadow: 0px 5px 5px rgba(43, 43, 43, 0.619);

    transition: 0.3s ease-in-out;

    cursor: url("resources/cursor/pointer-resize-adj.png"), auto;
}

.skills-button p {}

.skills-button:hover {
    /*width: 70px;
    height: 70px;

    padding: 1.2rem;
    font-size: 100%;*/

    transform: scale(1.4);
    color: rgb(60, 172, 207);
    box-shadow: 0px 3px 2px rgba(90, 192, 255, 0.619);
}

.skills-button:hover p {
    color: rgb(68, 182, 216);
}


table {
    gap: 0px;
    margin: 20px;

}

th {
    font-family: WiiU;
    font-weight: normal;
    margin-bottom: 0px;
}

td {
    margin-top: 0px;
}

tr {
    margin-top: 0px;
}


.container-mov {
    display: none;
    width: 0px;
}


/* Adaptado a varias Pantallas */

/* Adaptación responsive */
@media only screen and (max-width: 1400px) {

    .dock img {

        width: 80px;

    }


}


@media only screen and (max-width: 1200px) {


    .dock {

        width: 60%;

    }

    .dock img {

        width: 70px;

    }


}


/* Versión ultra compacta (para móviles muy pequeños, <500px) */
@media only screen and (max-width: 800px) {

    html {
        display: flex;
    }

    body {
        display: flex;
        width: 100%;
        height: max-content;
        text-align: center;
    }

    .container {
        display: none;
        width: 0px;
    }

    .container img {
        width: 0px;
    }

    .container-mov {
        margin-top: 30%;


        display: flex;
        flex-wrap: wrap;
        /* Permite varias filas */
        justify-content: center;
        align-items: center;
        width: 400px;
        /* Ajusta el ancho para controlar las filas */
        gap: 40px;
        /* Espacio entre cuadrados */
    }

    .dock {
        display: none;
    }

    .player-mobile {
        width: 100%;
        margin-bottom: 0px;
        bottom: 0px;
        display: flex;
    }

    #player {
        width: 0px;
        height: 0px;

        display: none;

    }


    #player-mov {
        margin-top: 100px;
        width: 270px;
        height: 270px;
        right: 10px;
        cursor: url("resources/cursor/pointer-resize-adj.png"), auto;

        background-image: url(resources/playeranimated.gif);
    }

    #player-mov:hover {
        background-image: url(resources/playerhover.png);
    }





}


@media only screen and (max-width: 380px) {

    html{
        height: 100%;
    }


    .container-mov {
        margin-top: 30%;


        display: flex;
        flex-wrap: wrap;
        /* Permite varias filas */
        justify-content: center;
        align-items: center;
        width: 300px;
        /* Ajusta el ancho para controlar las filas */
        gap: 40px;
        /* Espacio entre cuadrados */
    }

    .dock {
        display: none;
    }

    .player-mobile {
        position: relative;
        width: 100%;
        margin-bottom: 0px;
        bottom: 0px;
        display: flex;
    }



    #player-mov {
        margin-top: 50px;
        width: 200px;
        height: 200px;
        right: 10px;
        cursor: url("resources/cursor/pointer-resize-adj.png"), auto;

        background-image: url(resources/playeranimated.gif);
        background-size: cover;
    }

    #player-mov:hover {
        background-image: url(resources/playerhover.png);
    }




    #myVideo {
        position: fixed;
        right: -200px;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;

        display: none;
    }



    .square {
        width: 100px;
        height: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
        border-radius: 40px;


        background-color: rgba(206, 206, 206, 0.411);
        /* Fondo blanco semitransparente */
        backdrop-filter: blur(10px);


        transition: 0.2s ease-in-out;

        cursor: url("resources/cursor/pointer-resize-adj.png"), auto;
    }


    .square img {
        width: 80px;
        border-radius: 10px;
        transition: 0.3s ease-in-out;

        cursor: url("resources/cursor/pointer-resize-adj.png"), auto;

    }





    .rectangle {
        width: 240px;
        height: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
        border-radius: 30px;

        background-color: rgba(206, 206, 206, 0.411);
        /* Fondo blanco semitransparente */
        backdrop-filter: blur(10px);

        cursor: url("resources/cursor/pointer-resize-adj.png"), auto;

        transition: 0.2s ease-in-out;
    }



    .rectangle img {
        width: 240px;
        height: 65px;
        border-radius: 25px;
        transition: 0.3s ease-in-out;

        cursor: url("resources/cursor/pointer-resize-adj.png"), auto;

    }


    #info-button {
        width: 220px;
        height: 80px;
        border-radius: 25px;
        transition: 0.3s ease-in-out;
        background-image: url(resources/main-menu/info/aboutme.png);

        cursor: url("resources/cursor/pointer-resize-adj.png"), auto;

        background-size: cover;
    }

    /*
#info-button:hover{
    background-image: url(resources/main-menu/info/aboutmehover.png);
}
*/
    #skills-button {
        width: 220px;
        height: 80px;
        border-radius: 25px;
        transition: 0.3s ease-in-out;
        background-image: url(resources/main-menu/info/skills.png);

        cursor: url("resources/cursor/pointer-resize-adj.png"), auto;

        background-size: cover;
    }




    #animatedmobile {
        background: #61d2ff;
        background: -moz-linear-gradient(-45deg, #f5fcff 0%, #d1e9ff 100%);
        background: -webkit-linear-gradient(-45deg, #b1e9ff 0%, #cfe8ff 100%);
        background: linear-gradient(135deg, #e8f9ff 0%, #c9e5ff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adef', endColorstr='#0076e5', GradientType=1);
        position: fixed;

        width: 100%;
        height: 150%;
        margin: 0px;
        padding: 0px;
        z-index: -1;
    }

    #animatedmobile-inside {
        position: relative;
        min-width: 960px;
        max-width: 1280px;
        height: auto;
        min-height: 100%;
        margin: 0px auto;
        padding: 0px auto;
        overflow: visible;
    }

    #circle-small {
        -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation-timing-function: cubic-bezier(.6, 0, .4, 1);
        animation-delay: 0s;
        position: absolute;
        top: 200px;
        left: -150px;
        background: #fff;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        opacity: 0.4;
    }

    #circle-medium {
        -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation-timing-function: cubic-bezier(.6, 0, .4, 1);
        animation-delay: 0.3s;
        position: absolute;
        top: 50px;
        left: -300px;
        background: #fff;
        width: 600px;
        height: 600px;
        border-radius: 50%;
        opacity: 0.3;
    }

    #circle-large {
        -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation-timing-function: cubic-bezier(.6, 0, .4, 1);
        animation-delay: 0.6s;
        position: absolute;
        top: -100px;
        left: -450px;
        background: #fff;
        width: 900px;
        height: 900px;
        border-radius: 50%;
        opacity: 0.2;
    }

    #circle-xlarge {
        -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation-timing-function: cubic-bezier(.6, 0, .4, 1);
        animation-delay: 0.9s;
        position: absolute;
        top: -250px;
        left: -600px;
        background: #fff;
        width: 1200px;
        height: 1200px;
        border-radius: 50%;
        opacity: 0.1;
    }

    #circle-xxlarge {
        -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation: circle-small-scale 3s ease-in-out infinite alternate;
        animation-timing-function: cubic-bezier(.6, 0, .4, 1);
        animation-delay: 1.2s;
        position: absolute;
        top: -400px;
        left: -750px;
        background: #fff;
        width: 1500px;
        height: 1500px;
        border-radius: 50%;
        opacity: 0.05;
    }

    @-webkit-keyframes circle-small-scale {
        0% {
            -webkit-transform: scale(1.0);
        }

        100% {
            -webkit-transform: scale(1.1);
        }
    }

    @keyframes circle-small-scale {
        0% {
            transform: scale(1.0);
        }

        100% {
            transform: scale(1.1);
        }
    }





}
