
.rubik-base {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.rubik-mono-one-regular {
    font-family: "Rubik Mono One", serif;
    font-weight: 400;
    font-style: normal;
}


.photo {
    width: 400px;
}

.photo img {
    display: block;
    width: 100%;
}

.photostack {
    width: 55%;
    max-width: 400px;
    transition: 0.25s ease;

    &:hover {
        transform: rotate(5deg);

        .card:before {
            transform: translatey(-2%) rotate(-4deg);
        }

        .card:after {
            transform: translatey(2%) rotate(4deg);
        }
    }
}

.photocard {
    aspect-ratio: 3 / 2;
    border: 4px solid;
    background-color: #fff;
    position: relative;
    transition: 0.15s ease;
    cursor: pointer;
    padding: 5% 5% 15% 5%;

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        border: 4px solid;
        background-color: #fff;
        transform-origin: center center;
        z-index: -1;
        transition: 0.15s ease;
        top: 0;
        left: 0;
    }

    &:before {
        transform: translatey(-2%) rotate(-6deg);
    }

    &:after {
        transform: translatey(2%) rotate(6deg);
    }
}

.photoimage {
    width: 100%;
    border: 4px solid;
    background-color: #eee;
    aspect-ratio: 1 / 1;
    position: relative;
}

.browser-warning {
    margin-bottom: 4rem;
}

@supports (aspect-ratio: 1 / 1) {
    .browser-warning {
        display: none;
    }
}



.card-row {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #5a42f300;
}


.card {
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.646) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, #5b5b5b, #979797 50%, #dcdcdc);
    margin: 5px;
    transition: 0.2s ease-in-out;
}

.card:hover{
    transform: scale(1.02);
}

.card__content {
    background: rgb(47, 47, 47);
    border-radius: 17px;
    width: 100%;
    height: 100%;

}

body {
    width: 98%;
    text-align: center;
    /*background-color: rgb(37, 37, 37);*/
    background-image: url(card_0011.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

main {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-family: Rubik;
}

img{
    width: 100%;
    border-radius: 15px;
}

#profilephoto{
    border-radius: 15px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    
}

#profilephoto img{
    transition: 0.5s;
}

#profilephoto img:hover{
    transform: scale(1.3);
}

.Tcard{
    /*
    box-shadow: rgba(0, 0, 0, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, #5b5b5b, #979797 50%, #dcdcdc);
    margin: 5px;
    transition: 0.2s ease-in-out;
    */
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 5px;
}

.Tcard__content{
    background: rgba(0, 0, 0, 0.267);
    border-radius: 17px;
    width: 100%;
    height: 100%;
}

#cardone{
    
    font-family: Rubik Mono One;
    color: #ffffff;
    text-align: right;
    margin-right: 10px;
    width: 500px;
    height: 150px;
    font-size: 26px;
    white-space: inherit;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

#bio{
    color: #eee;

    width: 400px;
    height: 250px;
}

#bio p{
    margin-left: 5px;
    margin-right: 5px;
}

#animated{
    width: 250px;
    height: 250px;
}

#music-cover-art{
    margin-top: 20px;
    width: 150px;
    box-shadow: 3px 3px 15px rgb(0, 0, 0),
                   -3px -3px 15px rgb(58, 58, 58);
}

#knowledge{
    color: #eee;
    width: 325px;
    height: 300px;
}

#skills{
    color: #eee;
    width: 325px;
    height: 300px;
}



/*------ Settings ------*/
.container {
    --color: white;
    --size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
  }
  
  .container .play {
    position: absolute;
    animation: keyframes-fill 0.3s;
  }
  
  .container .pause {
    position: absolute;
    display: none;
    animation: keyframes-fill 0.3s;
  }
  
  /* ------ On check event ------ */
  .container input:checked ~ .play {
    display: none;
  }
  
  .container input:checked ~ .pause {
    display: block;
  }
  
  /* ------ Hide the default checkbox ------ */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* ------ Animation ------ */
  @keyframes keyframes-fill {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  
    50% {
      transform: scale(1.1);
    }
  }
  








/* From Uiverse.io by aadium */ 
.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    background-color: #494949;
    box-shadow: 0px 0px 15px #00000027;
    */
    padding: 15px 10px;
    border-radius: 5em;
    width: 60%;
  }
  
  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;
  }
  
  .social-button:hover {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 6px 3px #00000027;
  }
  
  .social-buttons svg {
    transition: 0.3s;
    height: 20px;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .facebook svg {
    fill: #f2f2f2;
  }
  
  .facebook:hover svg {
    fill: #3b5998;
  }
  
  .github {
    background-color: #21103f;
  }
  
  .github svg {
    width: 25px;
    height: 25px;
    fill: #f2f2f2;
  }
  
  .github:hover svg {
    fill: #333;
  }
  
  .linkedin {
    background-color: #0077b5;
  }
  
  .linkedin svg {
    fill: #f2f2f2;
  }
  
  .linkedin:hover svg {
    fill: #0077b5;
  }
  
  .instagram {
    background-color: #c13584;
  }
  
  .instagram svg {
    fill: #f2f2f2;
  }
  
  .instagram:hover svg {
    fill: #c13584;
  }
  





.proyectos {
width: 210px;
height: 220px;
border-radius: 8px;
background: linear-gradient(145deg, #33333300, #00000000);
display: flex;
flex-direction: column;
gap: 5px;
padding: 0.4em;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
overflow: hidden;
}

.proyectos p {
flex: 1;
overflow: hidden;
cursor: pointer;
border-radius: 8px;
transition: flex 0.5s;
background: linear-gradient(145deg, #21212100, #00000000);
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}

.proyectos p:hover {
flex: 4;
}

.proyectos p span {
padding: 0.2em;
text-align: center;
transform: rotate(-0deg);
transition: transform 0.5s;
text-transform: uppercase;
color: #00ffeb;
font-weight: "bold";
letter-spacing: 0.1em;
position: relative;
z-index: 1;
}

.proyectos p:hover span {
transform: rotate(0);
}

.proyectos p::before {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(255, 255, 255, 0.1);
z-index: 0;
transition: opacity 0.5s;
pointer-events: none;
opacity: 0;
border-radius: 20px;
}

.proyectos p:hover::before {
opacity: 1;
}
  
.proyectos img{
    width: 100%;
}